body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #204fd1;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background-color: #1a1a1a;
  border-bottom: 1px solid #333;
}

.logo {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 1.5rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #646cff;
}

h1{
  text-align: center;
}